*{
    transition: all 250ms ease-in-out;  
}
body{
    background-color: black;
}

#contenu{
display: grid;
grid-template-areas: 
"haut"
"main"
"main"
"main"
"bas"
"bas"
"bas"
;

}



header{
background-color: #A63740;
color: beige;
grid-area: haut;
display: grid;
grid-template-areas: 
"titre close";
grid-template-columns: 1fr 1%;
}

main{
    background: linear-gradient(180deg,#BC3639 7%, black 95%);
    grid-area: main;
    color: beige;
    background:url("img/test.png"), linear-gradient(90deg,#BC3639 , black 50%);   
    background-repeat: no-repeat;
    background-position: top  right ;
    background-position-x: right 50px ;
 
padding: 15px 0 40px 20px;


    display: grid;
    grid-template-areas: 
    "gauche droite "
  
    ;
}


footer{
    background-color: #1D2126;
    grid-area:bas;

    display: grid;
    grid-template-areas: 
    "episode"
    "slider"
    "slider"
    ;
}

#imgz{
    grid-area: gauche;
}
#presentation{
grid-area: droite;

display: flex;
flex-direction: column;
justify-content: flex-end;
padding-right: 20%;
padding-left: 20px;
}


.bouton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.play, .episodes, .ajouter{
    padding-top: 15px;
    padding-right: 10px;
}

.title{
grid-area: titre;
text-align: center;
}

.close{
    grid-area: close;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    align-items: center;
}



.genre{
    padding-top: 15px;
}
.genre> ul {
    padding-left: 0; 
}
.genre > ul li{    
  display: inline;
    list-style-type:circle;   
    padding-right: 10px;
}
.genre>ul li:not(:last-child)::after{   
    padding-left:10px;
    content:"○";
 }
.no-style:nth-child(){
list-style: none;
}

.description_bas{
    color: gray;
grid-area: episode;
padding-top: 20px;

}
.description_bas > ul  li {
    display: inline;  
    margin-right: 25px; cursor:pointer;
}
.description_bas > ul li:hover {
    color: beige;
    border-bottom: beige solid 2px;
    padding-bottom: 15px; 
}

.slider{
grid-area: slider;
color: beige;
display: grid;
grid-template-areas: 
"image1 image2 image3 image4"
;
margin-top: 30px;
}

figure{
    padding:0;
    margin: 0;
}
.img-container-1{
    grid-area: image1;
 
}
.img-container-2{
    grid-area: image2;

}

.img-container-3{
    grid-area: image3;
   
}

.img-container-4{
    grid-area: image4;
    
}

footer img{
    width: 100%;
}




@media only screen and (max-width:850px){
body{
    padding: 0;
    margin: 0;
}
header{
    grid-template-columns: 0.9fr 0.1fr;
}
.close{
    padding-right: 20px;
}
main{
    background: unset;
text-align: center;

    grid-template-areas: 
    "gauche"
    "droite";
}

    .img-cover{
        width: 
        70%;
        padding-right: 0;
        

    }
    img{
        width: 100%;
    }
    .img-container-1, .img-container-2, .img-container-3, .img-container-4{
        width: 100%;
    }
    #presentation{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;  
    }

    .description_bas > ul{
        padding-left: 0;
    }
        .description_bas > ul  li {
            display: flex;
            margin-right: 0px; cursor:pointer;
            padding-bottom: 10px;
            flex-direction: row;
        justify-content: center;
    
        }
        .description_bas > ul  li:hover {
    
            border-bottom: unset;
        
        }

        .bouton{
          justify-content: center;

        }
    .slider{
    grid-template-areas: 
    "image1"
    "image2"
    "image3"
    "image4";
    margin-top: 30px;   
    }
    figcaption{
        text-align: center;
        padding: 15px 0;
    }
   
}
